{{ $title := print .Title " | " .Site.Title}}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}


{{ $description := print .Site.Params.Description}}
{{ if .Params.Summary }}{{ $description = .Params.Summary }}{{ end }}

{{ $image := print .Site.Params.OgImage}}
{{ if .Params.Ogimage }}{{ $image = .Params.Ogimage }}{{ end }}


{{ $type := "website"}}




<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>{{ $title }}</title>
    <meta name="description" content="{{ $description }}">
    <meta name="author" content="{{ .Site.Params.Author }}">

    <meta name="google-site-verification" content="l3oU_IprnsBv0fmr4tY7n9XdxnmZ0oum0x1GeGe5hkI" />
  
     <!-- Facebook/Linkedin Meta Tags -->
    <meta property="og:url" content="{{ .Site.BaseURL }}{{ $.RelPermalink }}">
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:author" content="{{ .Site.Params.Author }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ $image }}">
    {{ if (hasPrefix  $.RelPermalink "/posts") }}
    {{ $type = "article"}}
    <meta property="og:article:published_time" content="{{ .Params.Date }}">
    <meta property="og:article:modified_time" content="{{ .Params.Lastmod }}">
    {{ end }}

    <meta property="og:type" content="{{ $type }}">


  
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="nosari20.github.io">
    <meta property="twitter:url" content="{{ .Site.BaseURL }}{{ $.RelPermalink }}">
    <meta name="twitter:title" content="{{ $title }}">
    <meta name="twitter:description" content="{{ $description }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ $image }}">

    <meta name="theme-color" content="#302F2A" />
    <link rel="icon" href="/images/favicon.png">
  
    <link rel="stylesheet" href="/css/styles.css?v=2.0">
    <link rel="stylesheet" href="/css/print.css?v=1.0" media="print">

    {{- if or (.HasShortcode "mathjax/block") (.HasShortcode "mathjax/inline") -}}
    <style>
      .has-mathjax {
          visibility: hidden;
      }
      span.has-mathjax mjx-container {
        display: inline-block !important;
      }

    </style>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script>
    window.MathJax = {
      startup: {
        pageReady: () => {
          return MathJax.startup.defaultPageReady().then(() => {
            for (let element of document.getElementsByClassName("has-mathjax")) {
                element.style.visibility = "visible"
            }
          });
        }
      }
    };
    </script>
    {{- end -}}
  
  </head>