{{ $title := print .Title " | " .Site.Title}}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}


{{ $description := print .Site.Params.Description}}
{{ if .Params.Summary }}{{ $description = .Params.Summary }}{{ end }}

{{ $image := print .Site.Params.OgImage}}
{{ if .Params.OgImage }}{{ $image = .Params.OgImage }}{{ end }}


{{ $type := "website"}}
{{ if (hasPrefix  $.RelPermalink "/posts") }}{{ $type = "article"}}{{ end }}



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>{{ $title }}</title>
    <meta name="description" content="{{ $description }}">
    <meta name="author" content="{{ .Site.Params.Author }}">

    <meta name="google-site-verification" content="l3oU_IprnsBv0fmr4tY7n9XdxnmZ0oum0x1GeGe5hkI" />
  
     <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:type" content="{{ $type }}">
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ $image }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="nosari20.github.io">
    <meta property="twitter:url" content="{{ .Site.BaseURL }}">
    <meta name="twitter:title" content="{{ $title }}">
    <meta name="twitter:description" content="{{ $description }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ $image }}">

    <meta name="theme-color" content="#302F2A" />
    <link rel="icon" href="/images/favicon.png">
  
    <link rel="stylesheet" href="/css/styles.css?v=2.0">
  
  </head>