{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
{{ $pubDateTime := .PublishDate.Format "2006-01-02" }}
Published on: <time datetime="{{ $pubDateTime }}"itemprop="datePublished">{{ .PublishDate.Format $dateFormat }}</time>

{{ if .Params.LastMod }}
    {{ $updateTime := .Params.LastMod.Format "2006-01-02" }}
    - Last update: <time datetime="{{ $updateTime }}">{{ .Params.LastMod.Format $dateFormat }}</time>
{{ end }}

<div class="meta-url">Url: {{ .Permalink | absURL }} </div>

<ul class="tags">
{{ with .Params.tags }}
    {{ range . }}
        {{ $href := print (absURL "tags/") (urlize .) }}
        <li><a href="{{ $href }}">{{ . }}</a></li>
        {{ end }}
    {{ end }}
</ul>